@import '../../style/main.scss';

.about {
    margin: 40px auto;
    max-width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.collapse {
    line-height: 34px;
    width: 90%;
}
