@import '../../style/main.scss';

.collapse {
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;

    &_title {
        @include flex(row, space-between, center);
        background-color: $main-color;
        color: $third-color;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        padding: 10px 15px;
        cursor: pointer;

        .arrow {
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: 1230px) {
                width: 12px;
            }
        }

        .arrow_up {
            transform: rotate(0deg);
        }

        .arrow_down {
            transform: rotate(180deg);
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        visibility: visible;
        padding: 10px;
        font-size: 18px;
    }

    &_content_hidden {
        visibility: hidden;
        height: 0;
    }
}
