@import '../../style/main.scss';

.nav_list {
    display: flex;
    color: $main-color;
    gap: 50px;
    font-size: clamp(12px, 2.5vw, 24px);

    @media screen and (max-width: 700px) {
        gap: 20px;
    }

    &_item {
        &_active {
            position: relative;
            color: $main-color;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid $main-color;
        }
    }
}
