@import './utils/mixins';
@import './utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Montserrat:wght@400;500;700&display=swap');

$font:'Montserrat',
sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    max-width: 1700px;
    margin: auto;
    background-color: $second-color;
    font-family: $font;
    color: $main-color;
    height: 100%;
}

.home {
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $main-color;
}
